body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
}
body {
	background-size: cover;
	background: #FFF url(backgrd-1.jpg);

no-repeat fixed;
}
h1 {
	font-size: 60px;
	color: rgba(0,102,0,1);
	text-shadow: 5px 6px 1px rgba(255,255,255,1);
	font-style: normal;
	text-align: center;
	width: 90%;
	position: relative;
	left: 143px;
	top: -150px;
}
h2 {
	font-size: 25px;
}
a:link {
	color: #faf5f6;
	text-decoration: none;
	font-size: 14px;
}
#Termlink {
	font-style: normal;
	background-color: #FEFCD5;
	border: 5px outset #090;
}
#Termlink p a {
	color: #060;
	text-decoration: underline;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	padding-left: 10px;
}
#credit {
	background-color: rgba(251,249,208,0.5);
	font-size: 14px;
	font-style: normal;
	color: rgba(51,51,51,1);
	border-radius: 20px;
	padding-left: 10px;
	font-weight: bold;
	text-align: center;
}



a:visited {
	text-decoration: none;
	color: #faf5f6;
}
a:hover {
	text-decoration: underline;
	color: #faf5f6;
}
a:active {
	text-decoration: none;
	color: #faf5f6;
}
#logo {
	position: absolute;
	left: 5%;
	top: 0px;
	width: 213px;
	height: 100px;
	z-index: 200;
}
nav {
	position: absolute;
	left: 5%;
	top: 119px;
	width: 90%;
	height: 31px;
	z-index: 2;
	text-align: right;
	padding-top: 8px;
	padding-right: 5px;
	background: rgba(0,102,0,.5);
	font-size: 14px;
	letter-spacing: 2px;
	text-indent: 20;
	border-radius: 20px;
}
header {
	position: absolute;
	left: 128px;
	top: 135px;
	width: 906px;
	height: 74px;
	z-index: 3;
}
section {
	position: relative;
	background: rgba(0,153,0,0.5);
	left: 18%;
	top: 200px;
	width: 60%;
	z-index: 4;
	padding: 5px;
	border-radius: 20px;
	float: none;
	right: 25%;
	margin-right: 7%;
	color: #000;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

#leftNav {
	background: rgba(0,102,0,.5);
	position: fixed;
	left: 5%;
	top: 190px;
	float: left;
	height: 120px;
	width: 110px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
}

#footer {
	background: rgba(0,102,0,.5);
	top: 250px;
	right: 0px;
	width: 90%;
	position: relative;
	left: 5%;
	margin-bottom: 2px;
	bottom: 10%;
	color: rgba(0,0,0,1);
	padding: 0.2em 2.5%;
	border-radius: 20px;
}

#Mainpic {
	top: 146px;
	position: relative;
	left: 18%;
	bottom: 25px;
	border-bottom: medium none #A01830;
	width: 80%;
	border-top: none;
	border-right: medium none #A01830;
}

.fancy {
	font-family: MiniverRegular;
	font-style: italic;
	color: #F00;
}
@font-face {
	font-family: MiniverRegular;
	src: url('Miniver-Regular.ttf') format('truetype');
	color: rgba(0,0,0,1);
}
.txtbold {
	font-size: 24px;
	font-weight: bolder;
	color: rgba(255,255,255,1);
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	display: block;
}
table {
	border: 1px dotted rgba(255,255,255,1);
	color: rgba(0,0,0,1);
}
table tr td label  {
	color: rgba(0,0,0,1);
}

#marque {
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	left: 250px;
	top: 530px;
	color: rgba(0,0,0,1);
	right: 250px;
}
